<div class="nested-fields">
  <div>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div>
    <%= f.label :number %>
    <%= f.telephone_field :number %>
  </div>
  <button data-action="click->passenger#removePassenger">Remove</button>
</div>